.root {
   position: relative;

   height: 100svh;
   background-size: cover;
   background-position: right;
   background-repeat: no-repeat;
   color: white;

   font-family: var(--font-montserrat);

   .greeting {
      position: absolute;
      bottom: 86px;
      left: 105px;

      display: flex;
      flex-direction: column;
      gap: 130px;

      width: 830px;

      .content {
         display: flex;
         flex-direction: column;
         gap: 25px;
      }

      .content {
         align-items: center;
         width: 610px;

         .p {
            font-size: 20px;
            text-align: center;
            line-height: 24px;
         }
      }
   }
}
