.root{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    width: 340px;
    height: 84px;
    font-size: 24px;
    font-family: var(--font-montserrat);

    border: 2px solid black;
    border-radius: 60px;

    cursor: pointer;
}