.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 340px;
    height: 83px;
    border: 2px solid #FFFFFF;
    border-radius: 60px;

    font-family: var(--font-montserrat);
    font-size: 24px;
    color: white;

    &.light {
        border: 2px solid #FFFFFF;
        color: white;
    }

    &.dark {
        border: 2px solid #000000;
        color: black;
    }
}